<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.cargo_database2ConnectionString"
            connectionString="server=localhost;user id=root;password=1234;database=cargo_database2"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.cargo_databaseConnectionString"
            connectionString="server=localhost;user id=root;password=1234;database=cargo_database"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.cargo_databaseConnectionString1"
            connectionString="server=localhost;user id=root;password=12345;persistsecurityinfo=True;database=cargo_database"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>