<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Cargo Track</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--    <link rel="stylesheet" href="css/site.css"/>-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--    <style> @import url(../static/CSS/style.css);</style>-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="/">Landon Hotels</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
<!--        <a class="navbar-brand" href="#">-->
<!--            <img src="http://placehold.it/150x50?text=Logo" alt="">-->
<!--        </a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cargo">Search Cargo</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/Customer/account">Account</a>
                    </li>
                </ul>

            </div>
            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cargo">Search Cargo</a>
                    </li>
                </ul>
            </div>


            <ul  class="navbar-form navbar-right">

                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-success"th:href="@{/logout}">Logout</a>
                    </div>


                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-success" th:href="@{/Customer/login}">Login</a>
                    </div>
            </ul>

<!--        <div class="navbar-form navbar-right">-->
<!--        -->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <a class="btn btn-success"th:href="@{/logout}">Logout</a>-->
<!--            </div>-->

<!--            <div sec:authorize="isAnonymous()">-->
<!--                <a class="btn btn-success" th:href="@{/login}">Login</a>-->
<!--            </div>-->
        </div>
    </div>

</nav>

<!--<div class="container">-->
<!--    <div class="page-header">-->
<!--        <h1>Select an option</h1>-->
<!--    </div>-->
<!--    <a href="/employees" class="btn btn-default">employees</a>-->
<!--</div>-->
<!--<img alt = "Beycargo" src="images/Ourlogo.jpg">-->
<img style="
width: 500px;
height: 500px;
margin-left: auto;
margin-right: auto;
display: block;
"th:src="@{/images/Ourlogo.jpg}"/>



<!--<form action="/result" th:action="@{/employee}"  method="post">-->
<!--    <p>Id: <input type="text" th:value="*{Id}" /></p>-->
<!--&lt;!&ndash;    <p>Message: <input type="text" th:field="*{content}" /></p>&ndash;&gt;-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->
<!--</div>-->
<!--<form action="/employee" th:action="@{/result.html}"  method="post">-->
<!--    <p>Id: <input type="text" id="Id" name="Id" th:value="${Id}" /></p>-->
<!--&lt;!&ndash;        <p>Name: <input type="text" name="name" th:field="*{name}" /></p>&ndash;&gt;-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->

<!--<section id="cargo_Id" class="section">-->
<!--    <div class="container">-->
<!--        <h2 class="headline">Search Cargo</h2>-->
<!--        <form action="/Track" method="get">-->
<!--            <label class="card-title">Cargo ID</label>-->
<!--            <input type="text" path="track" name="cargo_Id" value="">-->
<!--            <input type="submit" value="cargo_Id">-->
<!--        </form>-->


<!--    <div class="row gutters">-->

<!--        <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 col-12">-->
<!--            <div class="card h-100">-->
<!--                <div class="card-body">-->
<!--                    <div class="row gutters">-->
<!--                        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">-->
<!--                            <h6 class="person-control">Track Cargo</h6>-->
<!--                        </div>-->
<!--                        <form action="/Track" method="get">-->
<!--                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12">-->
<!--                                <div class="form-group">-->
<!--                                    <label class="left" > Cargo ID:</label>-->
<!--                                    <input type="text" class="form-control" path="track" name="cargo_Id" value="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gutters">-->
<!--                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">-->
<!--                                    <div class="text-right">-->
<!--                                        &lt;!&ndash;                                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                <button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>&ndash;&gt;-->
<!--                                        <input type="submit" class="btn btn-primary" value="Enter">-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->

<!--                    </div>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</section>-->


<!--<section id="search" class="section">-->
<!--    <div class="container">-->
<!--        <h2 class="headline">Search Products</h2>-->
<!--        <form action="/employee2" method="get">-->
<!--            <label class="card-title">Search your product</label>-->
<!--            <input type="text" path="employe" name="search" value="">-->
<!--            <input type="submit" value="Search">-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->

</body>

<!--</div>-->
<!--<form action="#" th:action="@{/}" th:object="${Id}" method="post">-->
<!--    <p>Id: <input type="text" th:field="*{}" /></p>-->
<!--    &lt;!&ndash;    <p>Message: <input type="text" th:field="*{content}" /></p>&ndash;&gt;-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->